receivers:
  otlp:
    protocols:
      http:
        endpoint: 'localhost:4318'

exporters:
  otlp:
    endpoint: <YOUR OBSERVABILITY BACKEDN TRACE OTLP ENDPOINT HERE>
    headers:
     authorization: Basic <YOUR TOKEN HERE>
  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp]
